/* This makes the site always in dark mode */
body { 
  background-color: black; 
  color: white;
  margin-top: 25;
  margin-bottom: 25;
  margin-left: 25;
  margin-right: 25;
}

/* Link Coloring */
body a {
  color: blue;
}
body a:hover {
  color: red;
}

