/* This makes the site always in dark mode */
/* Margin is for a margin */
body { 
  background-color: black; 
  color: white;
  /* margin-top: 50;
  margin-bottom: 50;
  margin-left: 50;
  margin-right: 50; */
}

p {
  margin: 25px 50px;
}

/* Link Coloring */
body a {
  color: blue;
}
body a:hover {
  color: red;
}

